@model myFirstAzureWebApp.Models.Acudiente

@{
    ViewData["Title"] = "Eliminar";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/business-casual.css" />
<h2 style="color:white; font-size:55px;">Eliminar a Este Usuario</h2>

<h3 style=" font-size:45px;">¿Está seguro de eliminar este acudiente?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" style="margin-left:30%;">
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Nombre) : @Html.DisplayFor(model => model.Nombre)
        </dt>

        <dt class="letra">
            @Html.DisplayNameFor(model => model.Apellido) : @Html.DisplayFor(model => model.Apellido)
        </dt>
        <dd>
            
        </dd>
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Documento) : @Html.DisplayFor(model => model.Documento)
        </dt>
        <dd>
            
        </dd>
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)
        </dt>
        <dd>
            
        </dd>
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Telefono) : @Html.DisplayFor(model => model.Telefono)
        </dt>
        <dd>
            
        </dd>
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Estado) : @Html.DisplayFor(model => model.Estado)
        </dt>
        <dd>
           
        </dd>
    </dl>

    <form asp-action="Delete" style="margin-left:30%;">
        <input type="hidden" asp-for="AcudienteID" />
        <input type="submit" value="Eliminar Registro" class="btn btn-danger" /> ||
        <a asp-action="Index" class="btn btn-primary">Atrás</a>
    </form>
</div>
