@model myFirstAzureWebApp.Models.NovedadMedica

@{
    ViewData["Title"] = "Eliminar";
}

<div>

    <hr />
    <dl class="dl-horizontal" style="margin-left:30%;">
        <dt>
            @Html.DisplayNameFor(model => model.Estudiante) : @Html.DisplayFor(model => model.Estudiante.Nombre)
        </dt>
        <dd>
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Empleado) : @Html.DisplayFor(model => model.Empleado.Nombre)
        </dt>
        <dd>
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaLesion) : @Html.DisplayFor(model => model.FechaLesion)
        </dt>
        <dd>
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion) : @Html.DisplayFor(model => model.Descripcion)
        </dt>
        <dd>
           
        </dd>
    </dl>
    
    <form asp-action="Delete" style="margin-left:30%;">
        <input type="hidden" asp-for="NovedadMedicaID" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-primary">Atrás</a>
    </form>
</div>
