@model myFirstAzureWebApp.Models.NovedadMedica

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>NovedadMedica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estudiante) : @Html.DisplayFor(model => model.Estudiante.Nombre)
        </dt>
        <dd>
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Empleado) :  @Html.DisplayFor(model => model.Empleado.Nombre)
        </dt>
        <dd>
           
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaLesion) : @Html.DisplayFor(model => model.FechaLesion)
        </dt>
        <dd>
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion) : @Html.DisplayFor(model => model.Descripcion)
        </dt>
        <dd>
            
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NovedadMedicaID" class="btn btn-outline-dark">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-primary">Atrás</a>
</div>
