@model myFirstAzureWebApp.Models.Horario

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Horario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empleado.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HorarioID" class="btn btn-outline-light">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-primary">Atrás</a>
</div>
