@model myFirstAzureWebApp.Models.Empleado

@{
    ViewData["Title"] = "Eliminar";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/business-casual.css" />
<h2 style="color:white; font-size:55px;">Eliminar a este Usuario</h2>

<h3 style="color:white; font-size:45px;">¿Está seguro de eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Cargo) : @Html.DisplayFor(model => model.Cargo.Nombre)
        </dt>

        <dt class="letra">
            @Html.DisplayNameFor(model => model.Nombre) : @Html.DisplayFor(model => model.Nombre)
        </dt>

        <dt class="letra">
            @Html.DisplayNameFor(model => model.Apellido) : @Html.DisplayFor(model => model.Apellido)
        </dt>

        <dt class="letra">
            @Html.DisplayNameFor(model => model.Documento) : @Html.DisplayFor(model => model.Documento)
        </dt>

        <dt class="letra">
            @Html.DisplayNameFor(model => model.Telefono) : @Html.DisplayFor(model => model.Telefono)
        </dt>

        <dt class="letra">
            @Html.DisplayNameFor(model => model.Direccion) : @Html.DisplayFor(model => model.Direccion)
        </dt>

        <dt class="letra">
            @Html.DisplayNameFor(model => model.Contrasenia) : @Html.DisplayFor(model => model.Contrasenia)
        </dt>

        <dt class="letra">
            @Html.DisplayNameFor(model => model.Rol) :  @Html.DisplayFor(model => model.Rol)
        </dt>

        <dt class="letra">
            @Html.DisplayNameFor(model => model.Estado) : @Html.DisplayFor(model => model.Estado)
        </dt>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="EmpleadoID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />  |
        <a asp-action="Index" class="btn btn-dark">Atrás</a>
    </form>
</div>
