@model myFirstAzureWebApp.Models.Empleado

@{
    ViewData["Title"] = "Detalles";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/business-casual.css" />
<h2 style="color:white; font-size:55px;">Detalles del Empleado</h2>

<div>
    <hr />
    <dl class="dl-horizontal" style="margin-left:34%;">
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Cargo) : @Html.DisplayFor(model => model.Cargo.Nombre)
        </dt>
            
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Nombre) : @Html.DisplayFor(model => model.Nombre)
        </dt>
        
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Apellido) : @Html.DisplayFor(model => model.Apellido)
        </dt>
        
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Documento) : @Html.DisplayFor(model => model.Documento)
        </dt>
        
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Telefono) :  @Html.DisplayFor(model => model.Telefono)
        </dt>
        
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Direccion) : @Html.DisplayFor(model => model.Direccion)
        </dt>
        
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Contrasenia) : @Html.DisplayFor(model => model.Contrasenia)
        </dt>
        
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Rol) : @Html.DisplayFor(model => model.Rol)
        </dt>
        
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Estado) : @Html.DisplayFor(model => model.Estado)
        </dt>
        
    </dl>
</div>
<div class="form-group" style="margin-left:34%;">
    <a asp-action="Edit" asp-route-id="@Model.EmpleadoID" class="btn btn-light">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Atrás</a>
</div>
