@model myFirstAzureWebApp.Models.Traspaso

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de eliminar este registro?</h3>
<div>
    <h4>Traspaso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estudiante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estudiante.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Escuela)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Escuela.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Novedades)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Novedades)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TraspasoID" />
        <input type="submit" value="Eliminar" class="btn btn-outline-default" />|
        <a asp-action="Index" class="btn btn-outline-primary">Atrás</a>
    </form>
</div>
