@model myFirstAzureWebApp.Models.Traspaso

@{
    ViewData["Title"] = "Detalles";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/business-casual.css" />
<h2 style="color:white; font-size:55px;">Detalles del Traspaso</h2>

<div>
    <hr />
    <dl class="dl-horizontal" style="margin-left:30%;">
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Estudiante) : @Html.DisplayFor(model => model.Estudiante.Nombre)
        </dt>
        
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Escuela) : @Html.DisplayFor(model => model.Escuela.Nombre)
        </dt>
        
        <dt class="letra">
            @Html.DisplayNameFor(model => model.FechaInicio) : @Html.DisplayFor(model => model.FechaInicio)
        </dt>
        
        <dt class="letra">
            @Html.DisplayNameFor(model => model.FechaFin) : @Html.DisplayFor(model => model.FechaFin)
        </dt>
        
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Novedades) : @Html.DisplayFor(model => model.Novedades)
        </dt>
        
    </dl>
</div>
<div class="form-group" style="margin-left:34%;">
    <a asp-action="Edit" asp-route-id="@Model.TraspasoID" class="btn btn-dark">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Atrás</a>
</div>
