@model myFirstAzureWebApp.Models.Traspaso

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Traspaso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estudiante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estudiante.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Escuela)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Escuela.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Novedades)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Novedades)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TraspasoID" class="btn btn-outline-dark">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-primary">Atrás</a>
</div>
