@model IEnumerable<myFirstAzureWebApp.Models.HojaDeVida>

@{
    ViewData["Title"] = "Hoja de vida";
}

    <h2 class="mt-2" style="color:white; font-size:55px;">Hojas de vida</h2>

<p>
    <a asp-action="Create"><button class="btn btn-primary mt-5" style="width:320px; margin-left:35%;">Nueva Hoja de Vida</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.TiempoExperiencia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="color:white;">
                @Html.DisplayFor(modelItem => item.Empleado.Nombre)
            </td>
            <td style="color:white;">
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td style="color:white;">
                @Html.DisplayFor(modelItem => item.TiempoExperiencia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HojaDeVidaID"  class="btn btn-outline-success">Editar</a>|
                <a asp-action="Details" asp-route-id="@item.HojaDeVidaID"  class="btn btn-outline-warning">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.HojaDeVidaID" class="btn btn-outline-danger">Eliminar</a>
            </td>
           
        </tr>
}
    </tbody>
</table>
