@model myFirstAzureWebApp.Models.Mensualidad

@{
    ViewData["Title"] = "Detalles";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/business-casual.css" />
<h2 style="color:white; font-size:55px;">Detalles de la Mensualidad</h2>

<div>

    <hr />
    <dl class="dl-horizontal" style="margin-left:30%;">
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Acudiente) :  @Html.DisplayFor(model => model.Acudiente.Nombre)
        </dt>

        <dt class="letra">
            @Html.DisplayNameFor(model => model.FechaPago) : @Html.DisplayFor(model => model.FechaPago)
        </dt>

        <dt class="letra">
            @Html.DisplayNameFor(model => model.Valor) : @Html.DisplayFor(model => model.Valor)
        </dt>

        <dt class="letra">
            @Html.DisplayNameFor(model => model.Mes) : @Html.DisplayFor(model => model.Mes)
        </dt>

        <dt class="letra">
            @Html.DisplayNameFor(model => model.Anio) : @Html.DisplayFor(model => model.Anio)
        </dt>

    </dl>
</div>
<div class="form-group" style="margin-left:34%;">
    <a asp-action="Edit" asp-route-id="@Model.MensualidadID" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Atrás</a>
</div>
