@model IEnumerable<myFirstAzureWebApp.Models.Mensualidad>

@{
    ViewData["Title"] = "Mensualidad";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/business-casual.css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Effort', 'Amount given'],
                ['Mensualidad Paga', 50],
                ['Mensualidad Sin Pago', 50],
            ]);

            var options = {
                title: 'Balance General de Mensualidades, Mes De Octubre',
                pieHole: 0.5,
                pieSliceTextStyle: {
                    color: 'white',
                },
                legend: 'none'
            };

            var chart = new google.visualization.PieChart(document.getElementById('donut_single'));
            chart.draw(data, options);
        }
    </script>
</head>
<h2 class="mt-2" style="color:white; font-size:55px;">Mensualidades Canceladas</h2>

<p>
    <a asp-action="Create"><button class="btn btn-primary mt-5" style="width:320px; margin-left:35%;">Agregar Mensualidad</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.Acudiente)
            </th>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.Mes)
            </th>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.Anio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="color:white;">
                    @Html.DisplayFor(modelItem => item.Acudiente.Nombre)
                </td>
                <td style="color:white;">
                    @Html.DisplayFor(modelItem => item.FechaPago)
                </td>
                <td style="color:white;">
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td style="color:white;">
                    @Html.DisplayFor(modelItem => item.Mes)
                </td>
                <td style="color:white;">
                    @Html.DisplayFor(modelItem => item.Anio)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MensualidadID" class="btn btn-outline-success">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.MensualidadID" class="btn btn-outline-warning">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.MensualidadID" class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="donut_single" style="width: 900px; height: 500px;"></div>