@model IEnumerable<myFirstAzureWebApp.Models.Cargo>

@{
    ViewData["Title"] = "Cargo";
}

<h2 class="mt-5">Cargo</h2>

<p>
    <a asp-action="Create"><button class="btn btn-outline-primary mt-5">Nuevo</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CargoID" class="btn btn-outline-success">Editar</a>|
                <a asp-action="Details" asp-route-id="@item.CargoID" class="btn btn-outline-warning">Detalles</a> 
                <a asp-action="Delete" asp-route-id="@item.CargoID" class="btn btn-outline-danger">Eliminar</a>
            </td>
            
        </tr>
}
    </tbody>
</table>
