@model IEnumerable<myFirstAzureWebApp.Models.Escuela>

@{
    ViewData["Title"] = "Escuelas";
}

<h2 class="mt-2" style="color:white; font-size:55px;">Escuelas Vinculadas con Nosotros</h2>

<p>
    <a asp-action="Create"><button class="btn btn-primary mt-5" style="width:320px; margin-left:35%;">Vincular Nueva Escuela</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th style="color:white;">
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="color:white;">
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td style="color:white;">
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td style="color:white;">
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td style="color:white;">
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EscuelaID" class="btn btn-outline-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EscuelaID" class="btn btn-outline-warning">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.EscuelaID" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
