@model myFirstAzureWebApp.Models.Nomina

@{
    ViewData["Title"] = "Detalles";
}

    <h2>Detalles</h2>

<div>
    <h4>Nomina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empleado.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NominaID" class="btn btn-outline-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-primary">Atrás</a>
</div>
