@model myFirstAzureWebApp.Models.Nomina

@{
    ViewData["Title"] = "Detalles";
}

    <h2 style="color:white;">Detalles</h2>

<div>

    <hr />
    <dl class="dl-horizontal" style="margin-left:30%;"> 
        <dt>
            @Html.DisplayNameFor(model => model.Empleado) : @Html.DisplayFor(model => model.Empleado.Nombre)
        </dt>
        <dd>
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item) : @Html.DisplayFor(model => model.Item.Nombre)
        </dt>
        <dd>
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio) : @Html.DisplayFor(model => model.FechaInicio)
        </dt>
        <dd>
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaFin) : @Html.DisplayFor(model => model.FechaFin)
        </dt>
        <dd>
            
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor) : @Html.DisplayFor(model => model.Valor)
        </dt>
        <dd>
            
        </dd>
    </dl>
</div>
<div style="margin-left:30%;">
    <a asp-action="Edit" asp-route-id="@Model.NominaID" class="btn btn-outline-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-outline-primary">Atrás</a>
</div>
