@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar sesiòn";
}
@*<div class="login">*@
    <h2 style="color:white;">@ViewData["Title"]</h2>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/business-casual.css" />

    <div class="row ingreso">
        <div class="col-md-5">
            <section class="card-login">
                <form method="post">
                    @*<h4 class="subtitulo" style="color:white;">Use una cuenta local para iniciar sesiòn.</h4>*@
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label class="letra" asp-for="Input.Email">Correo Electronico:</label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="letra" asp-for="Input.Password">Contrasenia:</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="letra" asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group letra">
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </div>
                    <div class="form-group letra">
                        <p style="color:white;">
                            <a asp-page="./ForgotPassword">Olvido su Password?</a>
                        </p>
                        <p style="color:white;">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar un nuevo usuario?</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        @*<div class="col-md-6 col-md-offset-2">*@
            @*<section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>*@
        @*</div>*@
    </div>
@*</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
