@model myFirstAzureWebApp.Models.Estudiante

@{
    ViewData["Title"] = "Detalles";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/business-casual.css" />
<h2 style="color:white; font-size:55px;">Detalles del Jugador</h2>

<div>
    <hr />
    <dl class="dl-horizontal" style="margin-left:30%;">
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Acudiente) : @Html.DisplayFor(model => model.Acudiente.Nombre)
        </dt>
        
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Nombre) : @Html.DisplayFor(model => model.Nombre)
        </dt>
        
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Apellido) : @Html.DisplayFor(model => model.Apellido)
        </dt>
        
        <dt class="letra">
            @Html.DisplayNameFor(model => model.Documento) : @Html.DisplayFor(model => model.Documento)
        </dt>
        
        <dt class="letra">
            @Html.DisplayNameFor(model => model.FechaNacimiento) : @Html.DisplayFor(model => model.FechaNacimiento)
        </dt>
        
    </dl>
</div>
<div style="margin-left:34%;">
    <a asp-action="Edit" asp-route-id="@Model.EstudianteID" class="btn btn-dark">Editar</a> |
    <a asp-action="Leones" class="btn btn-primary">Atrás</a>
</div>
