@model IEnumerable<myFirstAzureWebApp.Models.Estudiante>
@{
    ViewData["Title"] = "Estudiante";
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/business-casual.min.css" rel="stylesheet">
    <style>
        .players {
            height: 300px;
            width: 500px;
        }
    </style>

</head>

<body>

    <section>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3 col-sm-6">
                    @foreach (var item in Model)
                    {
                        <div class="card text-center">
                            <div class="card-block">
                                <img src="~/images/mbappe.jpg" class="players img-fluid " />
                                <div class="card-title">
                                    <h4>@Html.DisplayFor(modelItem => item.Nombre)</h4>
                                    @Html.DisplayFor(modelItem => item.Apellido)
                                </div>
                                <div class="card-text">
                                    <p>@Html.DisplayFor(modelItem => item.Acudiente.Nombre)</p>
                                    <p>@Html.DisplayFor(modelItem => item.Documento)</p>
                                    <p>@Html.DisplayFor(modelItem => item.FechaNacimiento)</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>


        <!-- Bootstrap core JavaScript -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
