@model IEnumerable<myFirstAzureWebApp.Models.Estudiante>
@{
    ViewData["Title"] = "Estudiante";
}


    <style>
        .players {
            height: 300px;
            width: 500px;
        }
    </style>



    <section>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3 col-sm-6">
                    @foreach (var item in Model)
                    {
                        <div class="card text-center">
                            <div class="card-block">
                                <img src="~/images/mbappe.jpg" class="players img-fluid " />
                                <div class="card-title">
                                    <h4>@Html.DisplayFor(modelItem => item.Nombre)</h4>
                                    @Html.DisplayFor(modelItem => item.Apellido)
                                </div>
                                <div class="card-text">
                                    <p>@Html.DisplayFor(modelItem => item.Acudiente.Nombre)</p>
                                    <p>@Html.DisplayFor(modelItem => item.Documento)</p>
                                    <p>@Html.DisplayFor(modelItem => item.FechaNacimiento)</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        </section>
        <!-- Bootstrap core JavaScript -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

